<h2>{{ ide.name }}</h2>
<div class="col-md-12 top-space">
    <ul class="list-group">
        <li class="list-group-item">IDE Name: {{ide.name}}</li>
        <li class="list-group-item">Description: {{ide.description}}</li>
        <li class="list-group-item">Used by # projects</li>
    </ul>
</div>

<div class="col-md-12 top-space">
    <h4 class="card-title">All projects</h4>
    {{# each projects}}
        <div class="card top-space">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <h5 class="card-title">{{this.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By </h6>
                        <p class="card-text">Last push: </p>
                        <a href="/project/view/{{this.pid}}" class="card-link">View project</a>
                    </div>
                    <div class="col-md-10" style="overflow: auto">
                        <button id="domain-highlight-previous-selector-{{@index}}" style="margin-bottom: 10px;" class="btn"><i class="fa fa-arrow-left"></i></button>
                        <button id="domain-highlight-next-selector-{{@index}}" style="margin-bottom: 10px;" class="btn"><i class="fa fa-arrow-right"></i></button>
                        <div id="cal-heatmap-{{@index}}"></div>
                    </div>
                </div>

            </div>
        </div>
    {{/each}}
</div>
