<h2 class="card-title">Hackathon Dashboard</h2>
<div class="row">
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Hackathon chart</div>
            <div class="card-body">
                <canvas id="dashboard-chart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Total commits: {{totalCommits}}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-pie-chart"></i> Programming languages stats</div>
            <div class="card-body">
                <canvas id="dashboard-pie" width="100%" height="65"></canvas>
            </div>
            <div class="card-footer small text-muted">Total programming languages: </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-globe"></i> Top API used
            </div>
            <div class="card-body">
                <div class="list-group top-space">
                    {{#if apis}}
                        {{#each apis}}
                            <a href="/api/view/{{this.aid}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Company 1</h5>
                                </div>
                                <p class="mb-1">Used by # projects</p>
                            </a>
                        {{/each}}
                    {{else}}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">No entry found</h5>
                            </div>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-edit"></i> Top IDEs
            </div>
            <div class="card-body">
                <div class="list-group top-space">
                    {{#if ides}}
                        {{#each ides}}
                            <a href="/ide/view/{{this.iid}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Company 1</h5>
                                </div>
                                <p class="mb-1">Used by # projects</p>
                            </a>
                        {{/each}}
                    {{else}}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">No entry found</h5>
                            </div>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-gear"></i> Top Technologies
            </div>
            <div class="card-body">
                <div class="list-group top-space">
                    {{#if tech}}
                        {{#each tech}}
                            <a href="/technology/view/{{this.tid}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Company 1</h5>
                                </div>
                                <p class="mb-1">Used by # projects</p>
                            </a>
                        {{/each}}
                    {{else}}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">No entry found</h5>
                            </div>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-code"></i> Latest Projects
            </div>
            <div class="card-body">
                <div class="list-group top-space">
                    {{#if projects}}
                        {{#each projects}}
                            <a href="/project/view/{{this.pid}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{this.name}}</h5>
                                </div>
                                <p class="mb-1">By {{# fromNow this.createdAt}}{{/fromNow}}</p>
                            </a>
                        {{/each}}
                    {{else}}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">No entry found</h5>
                            </div>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Console message</h4>
                <p>
                    <a href="/console"><li class="fa fa-plus"></li> Add or edit console messages</a>
                </p>
                {{# if console}}
                    <a href="/console/edit/{{console.cid}}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Console ID #{{console.cid}}</h5>
                            <small>{{#fromNow console.createdAt}}{{/fromNow}}</small>
                        </div>
                        <p class="mb-1"><pre>{{console.prettyMessage}}</pre></p>
                    </a>
                {{else}}
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">No messages</h5>
                        </div>
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
