<div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © 2018</small>
            </div>
        </div>
    </footer>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin.min.js"></script>

    {{# if g_script.dataTable}}
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript">
            $(".dataTable").DataTable();
        </script>
    {{/if}}

    {{# if g_script.heatMap}}
        <script type="text/javascript" src="/js/d3.min.js"></script>
        <script type="text/javascript" src="/js/cal-heatmap.min.js"></script>
        <script type="text/javascript">
            var startDate = new Date();
            var rangeVal = 15;
            startDate = new Date(startDate.getTime() - (1000*60*60*(rangeVal-1)));
            {{#each calheatmap_data}}
            var cal = new CalHeatMap();
            cal.init({
                start: startDate,
                itemSelector: '#cal-heatmap-{{@index}}',
                domain: "hour",
                cellSize: 8,
                range: rangeVal,
                data: '{{this}}',
                animationDuration: 100,
                domainGutter: 0,
                domainMargin: 5,
                nextSelector: "#domain-highlight-next-selector-{{@index}}",
                previousSelector: "#domain-highlight-previous-selector-{{@index}}",
                legend: [1, 2, 3, 5]
            });
            {{/each}}
        </script>
    {{/if}}

    {{# if g_script.ckeditor}}
        <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    {{/if}}

    {{# if g_script.datetimepicker}}
        <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
        </script>
    {{/if}}

    {{# if g_script.ace}}
        <script type="text/javascript" src="/js/ace/ace.js" charset="utf-8"></script>
        <script type="text/javascript">
            var editor = ace.edit("editor");
            var textarea = $('#editor-textarea');
            editor.setTheme("ace/theme/github");
            editor.getSession().setMode("ace/mode/javascript");
            editor.getSession().setUseWorker(false);
            editor.getSession().on('change', function(){
                textarea.val(editor.getSession().getValue());
            });
        </script>
    {{/if}}

    {{# if g_script.chart}}
        <script src="/vendor/chart.js/Chart.min.js"></script>
        <script>
            var chartCTX = document.getElementById("dashboard-chart");
            new Chart(chartCTX,{
                type: "line",
                data: {
                    labels: [
                        "24h ago","","22h ago","","20h ago","","18h ago", "", "16h ago", "", "14h ago", "",
                        "12h ago", "", "10h ago", "", "8h ago", "", "6h ago", "4h ago", "2h ago", "Now"],
                    datasets: [{
                        label :"Commits",
                        data: [{{charData}}],
                        fill: true,
                        backgroundColor:"rgba(2,117,216,0.2)",
                        borderColor:"rgba(2,117,216,1)",
                        pointRadius:5,
                        pointBackgroundColor:"rgba(2,117,216,1)",
                        pointBorderColor:"rgba(255,255,255,0.8)",
                        pointHoverRadius:5,
                        pointHoverBackgroundColor:"rgba(2,117,216,1)",
                        pointHitRadius:20,
                        pointBorderWidth:2,
                        lineTension: 0.3
                    }]
                },
                options:{}});

            // Pie
            var pieCTX = document.getElementById("dashboard-pie");
            pieChart= new Chart(pieCTX,{
                type:"pie",
                data:{
                    labels:["Blue","Red","Yellow","Green"],
                    datasets:[{
                            data:[12.21,15.58,11.25,8.32],
                            backgroundColor:["#007bff","#dc3545","#ffc107","#28a745"]
                        }]
                }
            });
        </script>
    {{/if}}
</div>
