<h2>{{ project.name }}</h2>
<div class="col-md-12 top-space">
    <ul class="list-group">
        <li class="list-group-item">Project name: {{project.name}}</li>
        <li class="list-group-item">Authors:{{authors}} </li>
        <li class="list-group-item">Operating system: {{project.os}}</li>
        <li class="list-group-item">Programing languages: {{project.language}}</li>
        <li class="list-group-item">Total commits: {{project.commits.length}}</li>
    </ul>
</div>

<div class="col-md-12 top-space">
    <h4 class="card-title">Commits</h4>
    <div class="heatmap">
        <button id="domain-highlight-previous-selector-0" style="margin-bottom: 10px;" class="btn"><i class="fa fa-arrow-left"></i></button>
        <button id="domain-highlight-next-selector-0" style="margin-bottom: 10px;" class="btn"><i class="fa fa-arrow-right"></i></button>
        <div id="cal-heatmap-0"></div>
    </div>
    <div class="list-group top-space">
        {{# each project.commits}}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{this.message}}</h5>
                    <small>{{# fromNow this.date}}{{/fromNow}}</small>
                </div>
                <p class="mb-1">Hash: {{this.hash}}</p>
                <small>By {{this.author}}</small>
            </a>

        {{/each}}
    </div>
</div>
